<h4>Name:&nbsp;&nbsp;<strong><%= @student.name %></strong></h4>
<div class="row">
  <div class="col-xs-offset-10 co-xs-2">
    <%= link_to 'back to All', students_path, class: 'btn btn-default' %>
  </div>
</div>

<p>
  <strong>Progress:</strong>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="<%= @achievement %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @achievement %>%;">
      <%= @achievement %>%
    </div>
  </div>
</p>
<p>&nbsp;</p>

<div class="panel panel-default row">
  <div class="panel-heading"><%= @past_table %></div>
  <table class="table">
    <tr>
      <th class="col-xs-1">Date</th>
      <th class="col-xs-2">User</th>
      <th class="col-xs-3">Progress</th>
      <th class="col-xs-4">comment</th>
      <th class="col-xs-1">&nbsp;</th>
      <th class="col-xs-1">&nbsp;</th>
    </tr>
    <% @conditions.each do |condition| %>
      <!-- 取り出されたレコードのprogressの数字からタイトルを検索 -->
      <% progress_at_that_time = choose.key(condition.progress) %>
      <tr>
        <td><%= condition.date %></td>
        <td><%= condition.username %></td>
        <td><p class="progress_at_that_time"><%= progress_at_that_time %></p></td>
        <td><p class="comment"><%= condition.comment %></p></td>
        <td>
          <%= link_to 'Edit',
                edit_condition_path(condition.id),
                class: 'btn btn-success' %>
        </td>
        <td>
          <%= link_to 'Delete',
                condition_path(condition.id),
                data: { confirm: "Are you sure?"},
                method: :delete, class: 'btn btn-warning' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<% if @condition.errors.any? %>
  <div id="error_explanation">
    <h2>There are <%= @condition.errors.count %>errors.</h2>
    <ul>
      <% @condition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @condition, local: true) do |form| %>

  <div class="panel panel-danger row">
    <div class="panel-heading"><%= @new_table %></div>
    <table class="table">
      <tr>
        <th class="col-md-3">Date</th>
        <th class="col-md-5">Progress</th>
        <th class="col-md-4">comment</th>
      </tr>

      <tr>
        <td><%= form.date_field :date %></td>
        <td>
          <div class="row">
            <%= form.select :progress, choose,
            { include_blank: 'Please choose' }, class: 'col-xs-11'  %>
          </div>
        </td>
        <td>
          <div class="row">
            <%= form.text_area :comment, class: "comment col-xs-11" %>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <%= form.hidden_field :username, :value => "#{current_user.username}" %>
  <%= form.hidden_field :student_id, :value => "#{@student.id}" %>

  <%= form.submit 'Add' %>

<% end %>
